header {
  @media screen and (min-width: $desktop_breakpoint) {
    z-index: 5;
    background-color: $secondary-background;
  }
}

// #main-menu is the container div around the entire top section which
// contains the <h1>, the menu toggle and the actual nav list.
#main-menu {
  position: fixed;
  width: 100%;

  @media screen and (min-width: $desktop_breakpoint) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    h1 {
      margin: 0;
    }
  }
  @media screen and (min-width: 1100px) {
    width: 70%;
  }
}

#menu-toggle {
  z-index: 6;
  position: fixed;
  top: 20px;
  left: 90%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: transform 300ms linear;
  span {
    // spans that make up the hamburger icon
    background-color: $secondary-text;
    height: 4px;
    width: 1.5rem;
    display: block;
  }

  @media (min-width: $desktop_breakpoint) {
    display: none;
  }
}

.toggled {
  transform: rotate(-90deg);
}

nav ul {
  background-color: $secondary-background;
  list-style-type: none;
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 1500px;

  padding-top: calc($spacing * 4);
  transition: left 300ms ease-in;

  li {
    text-align: center;
    margin-bottom: $spacing;

    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 1.25rem;
      color: black;

      &:visited {
        color: black;
      }
    }
    a.current-page:visited,
    a.current-page {
      color: $secondary-text;
    }
  }

  @media screen and (min-width: $desktop_breakpoint) {
    height: 100%;
    width: auto;
    position: relative;
    top: auto;
    left: auto;

    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    li {
      text-align: left;
      margin: 0;
      display: block;
      a {
        font-size: 1rem;
      }
    }
  }
}

.slide-in-menu {
  left: 0;
}
