.primary-text {
  color: $primary-text;
}

.secondary-text {
  color: $secondary-text;
}

.font-small {
  font-size: 0.8rem;
}

.font-regular {
  font-size: 1rem;
  font-weight: normal;
}

.font-large {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2.25rem;
}
