@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
.primary-text {
  color: #d5d2d2;
}

.secondary-text {
  color: #038fae;
}

.font-small {
  font-size: 0.75rem;
}

.font-regular {
  font-size: 1rem;
  font-weight: normal;
}

.font-large {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2.25rem;
}

@media screen and (min-width: 900px) {
  header {
    z-index: 5;
    background-color: #f0eded;
  }
}

#main-menu {
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 900px) {
  #main-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  #main-menu h1 {
    margin: 0;
  }
}
@media screen and (min-width: 1100px) {
  #main-menu {
    width: 70%;
  }
}

#menu-toggle {
  z-index: 6;
  position: fixed;
  top: 20px;
  left: 90%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: transform 300ms linear;
}
#menu-toggle span {
  background-color: #038fae;
  height: 4px;
  width: 1.5rem;
  display: block;
}
@media (min-width: 900px) {
  #menu-toggle {
    display: none;
  }
}

.toggled {
  transform: rotate(-90deg);
}

nav ul {
  background-color: #f0eded;
  list-style-type: none;
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 1500px;
  padding-top: 4rem;
  transition: left 300ms ease-in;
}
nav ul li {
  text-align: center;
  margin-bottom: 1rem;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
}
nav ul li a:visited {
  color: black;
}
nav ul li a.current-page:visited,
nav ul li a.current-page {
  color: #038fae;
}
@media screen and (min-width: 900px) {
  nav ul {
    height: 100%;
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  nav ul li {
    text-align: left;
    margin: 0;
    display: block;
  }
  nav ul li a {
    font-size: 1rem;
  }
}

.slide-in-menu {
  left: 0;
}

.team-gallery {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  overflow-x: scroll;
  padding: 1rem;
}

.member-info {
  background-color: #626262;
  border-radius: 5px;
  padding-bottom: 1rem;
}
.member-info span {
  display: block;
  margin: 0.5rem 1rem;
}
.member-info p {
  margin: 0.5rem 1rem;
}
.member-info img {
  height: 150px;
  width: 150px;
}

.form-container {
  background-color: #2e2d2d;
  padding-top: 2rem;
}
.form-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.form-container form {
  margin-bottom: 2rem;
}
.form-container form input,
.form-container form textarea,
.form-container form button {
  font-family: inherit;
}
.form-container form input,
.form-container form textarea {
  background-color: #2e2d2d;
  border: solid 1px #038fae;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 0.5rem;
  color: #d5d2d2;
}
.form-container form label {
  font-size: 0.8rem;
  color: #bcb8b8;
}
.form-container form button {
  border: none;
  background-color: #038fae;
  color: #d5d2d2;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.75rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #434343;
  color: #d5d2d2;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

p {
  font-size: 0.8rem;
}

#main-menu {
  background-color: #f0eded;
  padding: 0.5rem;
}

#main-menu h1 {
  font-weight: normal;
  color: #626262;
}

.hero-section {
  min-height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/people-meeting-mobile-bw-darker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}
.hero-section div {
  padding: 60% 1rem;
  background-color: rgba(46, 46, 46, 0.6);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.hero-section a {
  font-weight: bold;
  color: #d5d2d2;
  text-decoration: none;
  border: solid 1px #d5d2d2;
  padding: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 5px;
}
.hero-section a:visited {
  color: inherit;
}

section > h2 {
  text-align: center;
}

.container, .address-container {
  margin: 2rem 1rem;
}
.container p, .address-container p {
  line-height: 1.6rem;
}

.container-filled {
  padding: 2rem 1rem;
  background-color: #626262;
}

.container-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-image {
  border: solid 1px #d5d2d2;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
}

.address-container {
  border-bottom: solid 1px #434343;
  margin-bottom: 0;
}

.address-details {
  margin: 1rem 0;
}

address a,
address p {
  color: #d5d2d2;
  text-decoration: none;
  margin-left: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  background-color: #2e2d2d;
  padding-bottom: 2rem;
}

footer {
  text-align: center;
  margin: 1rem;
}
footer p {
  font-style: italic;
}/*# sourceMappingURL=style.css.map */